/* COLORS */

$nav-darkblue: #2A4E6E;
$nav-lightblue: #587C9C;
$nav-title: #CFD9E5;
$nav-fcolor: #DCEFFD;
$nav-hline1: #2E3235;

$title-fcolor: #264D6E;
$title-bg: #D6DEE1;
$title-border: #9DB6CC;

$button-bg: #F7F8FA;
$button-border: #888C8F;

$font-dark: #343434;

$link-delete: #B94F39;

$normal-gray: #333333;