<h1 display="inline">Polytechnyka</h1>
<%= link_to 'Przedmioty', lectures_path %>
<iframe src="http://localhost:3000/statistics" width=100% height = 800px >
  <p>Your browser does not support iframes.</p>
</iframe>
