.field {
  color:$font-dark;
  padding: 30px 0px;
}

.field * {
	position: relative;
	display: inline-block;
}

.field label {
	text-align: right;
}

.field input[type="text"]{
  margin: 0;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: 2px solid $title-border;
  padding: 2px 5px;
}

.field.number input[type="text"]{
  width: 50px;
  text-align: center;
}

.field.number .plus {
	margin-right: 1px;
  background : asset-url("plus.jpg") no-repeat right -1px;
  height:20px;
  width: 22px;
  border: 1px outset $title-border;
  top:5px;
}

.field.number .minus {
	margin-left: 1px;
  background : asset-url("minus.jpg") no-repeat right -1px;
  height:20px;
  width: 22px;
  border: 1px outset $title-border;
  top:5px;
}

.field.number .plus:active,
.field.number .minus:active {
  border: 1px inset $title-border;
}
