/* SELECT */

.selector {
	height: 35px;
	max-width: 60%;
}

.selector * {
	max-width: 100%;
}


.selector2 {
	height: 35px;
	max-width: 35%;
}

.selector2 * {
	max-width: 100%;
}

.selector_fixed {
  max-width: 300px;
}

.styled_select {
  height:35px;
	border-radius	: 0px;
	border: solid 2px $title-border;
	overflow: hidden;
	position: relative;
}

.styled_select select {
    -webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
   	border-radius: 0;
    border:0;
    height: 33px;
	cursor			: pointer;
	background		: transparent;
	font-size		: 16px;
	font-weight		: bold;
	color: $font-dark;
	padding-right: 33px;
}

/* Styling using span element class arrow - image */
/*
.arrow {
	background : asset-url("arrow.jpg") no-repeat right -1px;
    display:block; 
    width:33px; 
    height:33px;
    position:absolute; 
    right:0;
    top:0;
    pointer-events:none;
}
*/

/*Styling using ::after selector (pseudo element);*/

.styled_select:after {
  content: asset-url("arrow.jpg");
  display: block;
  position: absolute;
  right: -1px;
  top: 0px;
  height: 33px;
  width: 33px;
  background: $normal-gray;
  pointer-events:none;
}


/* styling using after - no image */
/*
.styled_select:after {
    content:'>';
    color: $font-dark;
    border-bottom:1px dotted $font-dark;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:6px; top:2px;
    font-size: 22px;
    padding:0;
    font-weight: bolder;
    position:absolute;
    pointer-events:none;
}
*/


#width_tmp{
  white-space: nowrap;
  display: none;
  font-size   : 16px;
  font-weight   : bold;
}