/* GENERAL */
/* Hard limits only on max-width: so site doesnt go whoop too much */


	
.limiter {
	max-width: 1100px;
	margin:auto;
	overflow: visible;

}

	.content {
		color: $font-dark;
		margin-top: 10px;
		overflow: hidden;
	}

		.container {
		margin: auto;
		width: 80%;
		text-align: center;
		position: relative;
		max-width: 800px;
		}

			.title {
			background-color: $title-bg;
			border-top: 2px solid $title-border;
			border-bottom: 2px solid $title-border;
			font-size: 22px;
			font-weight: bold;
			color: $title-fcolor;
			padding: 0px;
			padding-left: 10px;
			margin: 0px;
			line-height: 0%;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			}

			.inner_content {
				display:block;
				margin: 10px auto;
			}

				#notice {
				  clear: both;
				}

				.data {
					clear: both;
					max-width: 100%;
					overflow: auto;
					margin: auto;	
				}

			.footer {
				background-color: $title-bg;
				border-top: 2px solid $title-border;
				border-bottom: 2px solid $title-border;
				padding: 0px;
				margin: 10px 0px 0px 0px;
				min-height: 40px;
				display: inline-block;
				width: 100%;
			}

.right {
	float:right;
}

.left {
	float:left;
}

.clear_both {
	clear: both;
}


/* smaller screens */

@media screen and (max-width: 870px) {

  .container {
    /*margin-top: 90px;*/
    width: 100%;
    max-width: none;
  }
  .title {
    text-align: center;
  }
  .button.right {
    float: none;
    position: relative;
    top:8px;
  }

  .inner_content {
    padding: 15px;
  }

	/*@media screen and (max-width: 454px) {
	  .container {
	    margin-top: 130px;
	  }

		@media screen and (max-width: 308px) {
			.container {
			    margin-top: 200px;
			}
		}
	}*/

}

