.form {
	display:table;
	margin:auto;
	border-spacing: 10px 30px;
	border-collapse: seperate;
}

.time_selectors_border {
	border: 1px dashed $title-border;
}


.field {
  color:$font-dark;
  padding: 30px 0px;
  display: table-row;
  margin:auto;
}

.field>* {
	display: table-cell;
	text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.field>*>* {
	display: inline-block;
    vertical-align: top;
}

.time_field {
	display: inline-block;
  white-space: nowrap;
}

.time_field>* {
	display: inherit;
}

.time_field span {
	position: relative;
	top: -10px;
}

.radio_holder {
  display: inline-block;
  white-space: nowrap;
}

.field label {
	text-align: right;
}

.field .radio_buttons{
	text-align: center;
}

.field input[type="text"]{
  margin: 0;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: 2px solid $title-border;
  padding: 2px 5px;
}

.field.number input[type="text"]{
  width: 50px;
  text-align: center;
}

.field.number .plus {
	margin-right: 1px;
  background : asset-url("plus.jpg") no-repeat right -1px;
  height:20px;
  width: 22px;
  border: 1px outset $title-border;
  margin-top: 3px;
}

.field.number .minus {
	margin-left: 1px;
  background : asset-url("minus.jpg") no-repeat right -1px;
  height:20px;
  width: 22px;
  border: 1px outset $title-border;
  margin-top: 3px;
}

.field.number .plus:active,
.field.number .minus:active {
  border: 1px inset $title-border;
}

.hidden {
	display: none;
}






input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: inline;
}

input[type="checkbox"]+label {
  background-color: $title-bg;
  border: 1px solid $title-border;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  display: inline-block;
  position: relative;
}

input[type="checkbox"] + label:active, input[type="checkbox"]:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), inset 0px 1px 3px rgba(0,0,0,0.25);
}

input[type="checkbox"]:checked + label {
  background-color: #e9ecee;
  border: 1px inset $title-border;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

input[type="checkbox"]:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: $font-dark;
}





/* RADIO */

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  
  background-color: $title-bg;
  border: 1px solid $title-border;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

input[type="radio"]:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #99a1a7;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
  text-shadow: 0px;
  left: 3px;
  font-size: 32px;
}

input[type="radio"]:checked + label {
  background-color: $title-bg;
  border: 1px inset $title-border;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

input[type="radio"] + label:active, input[type="radio"]:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0px 1px 3px rgba(0,0,0,0.3);
}

