/* TABLE ELEMENTS */

table {
	clear: both;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

table td {
	padding:5px;
	border: solid 2px $title-border;
    max-width: 200px;
    word-wrap:break-word;
}

table td.link {
	padding:5px;
	border: none;
}

table a {
	text-decoration: none;
	color: $title-fcolor;
	font-weight: bold;
	-webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

table th,
table tr.summary_row * {
	padding: 5px;
	font-weight: bold;
	max-width: 110px;
	border: none;
	color: $font-dark;
}

table .link a:hover,
table .link a.delete:hover{
  color: $font-dark;
}

table td.link .delete {
  color:$link-delete ;
}